html {
    background: url("../prova.gif") no-repeat center center fixed;

    -webkit-background-size: auto;
    -moz-background-size: cover;
    -o-background-size: auto;
    background-size: 180% 135%; 
}